In [ ]:
NEW DATA

In [35]:
data = pd.read_csv("C:\\Users\hp\OneDrive\Desktop\pydata\project1\people.csv")

In [36]:
data.head()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    object
 8   Job Title      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB

In [38]:
data.shape

(100, 9)

In [39]:
data.nunique()

Index            100
User Id          100
First Name        94
Last Name         95
Sex                2
Email            100
Phone            100
Date of birth    100
Job Title         91
dtype: int64

In [40]:
data.columns

Index(['Index', 'User Id', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone',
       'Date of birth', 'Job Title'],
      dtype='object')

In [41]:
data['User Id'].nunique()

100

In [42]:
data['Date of birth'].nunique()

100

In [43]:
data['Sex'].nunique()

2

In [45]:
data['Date of birth'].value_counts()

Date of birth
1945-10-26    1
1910-03-24    1
1992-07-02    1
2017-08-03    1
1938-12-01    1
             ..
1954-07-30    1
1932-04-29    1
1994-12-28    1
2012-04-12    1
2016-11-15    1
Name: count, Length: 100, dtype: int64

In [44]:
data['Sex'].value_counts()

Sex
Female    53
Male      47
Name: count, dtype: int64

In [47]:
data['Email'].value_counts()

Email
elijah57@example.net          1
bethany14@example.com         1
bthompson@example.com         1
kaitlinkaiser@example.com     1
buchananmanuel@example.net    1
                             ..
bmartin@example.org           1
latasha46@example.net         1
regina11@example.org          1
alexiscantrell@example.org    1
pcopeland@example.org         1
Name: count, Length: 100, dtype: int64

In [48]:
data['First Name'].value_counts()

First Name
Isaiah        2
Frank         2
Jacqueline    2
Brittney      2
Ryan          2
             ..
Dennis        1
Steve         1
Wesley        1
Summer        1
Mariah        1
Name: count, Length: 94, dtype: int64

In [49]:
data['Last Name'].value_counts()

Last Name
Andrews      3
Payne        2
Barnes       2
Oconnell     2
Todd         1
            ..
Cole         1
Guzman       1
Patterson    1
Bray         1
Bernard      1
Name: count, Length: 95, dtype: int64

In [50]:
data['Index'].value_counts()

Index
1      1
2      1
3      1
4      1
5      1
      ..
96     1
97     1
98     1
99     1
100    1
Name: count, Length: 100, dtype: int64

In [51]:
data['Job Title'].value_counts()

Job Title
Biochemist, clinical                                           3
Outdoor activities/education manager                           2
Scientist, clinical (histocompatibility and immunogenetics)    2
Retail banker                                                  2
Accountant, chartered management                               2
                                                              ..
Software engineer                                              1
Barrister                                                      1
Police officer                                                 1
Broadcast journalist                                           1
IT sales professional                                          1
Name: count, Length: 91, dtype: int64

In [52]:
data['Phone'].value_counts()

Phone
001-084-906-7849x73518    1
214.112.6044x4913         1
277.609.7938              1
584.094.6111              1
689-207-3558x7233         1
                         ..
001-095-524-2112x257      1
001-865-478-5157          1
995-542-3004x76800        1
001-273-685-6932x092      1
(341)594-6554x44657       1
Name: count, Length: 100, dtype: int64

In [53]:
data['User Id'].value_counts()

User Id
88F7B33d2bcf9f5    1
f90cD3E76f1A9b9    1
DbeAb8CcdfeFC2c    1
A31Bee3c201ef58    1
1bA7A3dc874da3c    1
                  ..
5eFda7caAeB260E    1
CCbFce93d3720bE    1
2fEc528aFAF0b69    1
Adc7ad9B6e4A1Fe    1
b8D0aD3490FC7e1    1
Name: count, Length: 100, dtype: int64

In [54]:
data.isnull()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False

In [57]:
data.isnull().sum()

Index            0
User Id          0
First Name       0
Last Name        0
Sex              0
Email            0
Phone            0
Date of birth    0
Job Title        0
dtype: int64

In [59]:
data.isnull().all(axis=1)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [63]:
data[data.notnull().any(axis=1)]

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,1945-10-26,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,2017-08-03,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,1938-12-01,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,1954-07-30,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,1932-04-29,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,1994-12-28,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,2012-04-12,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,2016-11-15,IT sales professional